#wrapper {
    width: 100%;
}
form {
    font-size: 1.5em;
    background-color:Ivory;
    margin: 0 auto;
    width: 35%;
    display: block;
    border: 1px dashed black;
    padding: 3px;
}
label,input,select {
    display: inline-block;
    margin-top: 5%;
    width: 95%;
}

#submit {
    width: 30%;
    display: inline-block;
    background-color: blueviolet;
}